<%= paginate @notes, class: "page-link"  %>
<% content_for :title, "Notes" %>

<h1>Notes</h1>

<%= link_to "Export", notes_path(format: "csv"), class: "btn btn-outline-primary" %>

<div id="notes">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Last Update</th>
        <th scope="col">Property Id</th>
        <th scope="col">Code</th>
        <th scope="col">Note</th>

      </tr>
    </thead>
    <tbody>
      <% @notes.each do |note| %>
        <tr>
          <td><%= note.updated_at.strftime("%m/%d/%Y %H:%M") %></th>
          <td><%= note.property_id %></th>
          <td><%= note.code %></th>
          <td><%= note.notes %></th>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
