<%= paginate @pins, params: { filter: params[:filter] } %>
<% current = params[:filter] %>

<div class="mb-3">
  <%= link_to "All Pins", pins_path,
      class: "btn #{current.nil? ? 'btn-primary' : 'btn-outline-secondary'}" %>

  <%= link_to "With Property", pins_path(filter: "with_property"),
      class: "btn #{current == 'with_property' ? 'btn-primary' : 'btn-outline-secondary'}" %>

  <%= link_to "No Property", pins_path(filter: "no_property"),
      class: "btn #{current == 'no_property' ? 'btn-primary' : 'btn-outline-secondary'}" %>
</div>

<%= stylesheet_link_tag "masonary" %>
<h1>Pins</h1>
<%= link_to "New pin", new_pin_path %>

<% content_for :title, "Pins" %>

    <% if @pins.any? %>
        <div class="masonry">
          <% @pins.each do |pin| %>
            <div class="masonry-item masonry-content center"></br>
              <%= image_tag(
                (pin.image.attached? ? pin.image.variant(resize_to_limit: [200,200]) : "default_image.png"),
                loading: "lazy",
                class: "img-fluid rounded"
                ) %>
              <br>
              <%= link_to "Show this pin", pin %>
              <% if pin.property %>
                <span class="badge bg-success">Property</span>
              <% else %>
                <span class="badge bg-secondary">Standalone</span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
<%= paginate @pins, params: { filter: params[:filter] } %>
</div>
