<div id="<%= dom_id property %>">
  <p>
    <strong>Situs address:</strong>
    <%= property.situs_address %>
  </p>

  <p>
    <strong>Land use desc:</strong>
    <%= property.land_use_desc %>
  </p>

  <p>
    <strong>Last sale price:</strong>
    <%= number_to_currency(property.last_sale_price) %>
  </p>

  <p>
    <strong>Just value:</strong>
    <%= number_to_currency(property.just_value) %>
  </p>

  <p>
    <strong>County assessed value:</strong>
    <%= number_to_currency(property.county_assessed_value) %>
  </p>

  <p>
    <strong>County exempt value:</strong>
    <%= number_to_currency(property.county_exempt_value)%>
  </p>

  <p>
    <strong>County taxable value:</strong>
    <%= number_to_currency(property.county_taxable_value) %>
  </p>

  <p>
    <strong>Owner name line1:</strong>
    <%= property.owner_name_line1 %>
    <%= property.owner_name_line2 %>
  </p>

  <p>
    <strong>Mailing address line1:</strong>
    <%= property.mailing_address_line1 %>
    <%= property.mailing_address_line2 %>
  </p>

  <p>
    <strong>Mailing city:</strong>
    <%= property.mailing_city %>
    <%= property.mailing_state %>
    <%= property.mailing_postal_code %>
    <%= property.mailing_country %>
  </p>

</div>
