<div id="<%= dom_id property %>">
  <p>
    <strong>Parid:</strong>
    <%= property.parid %>
  </p>

  <p>
    <strong>Situs address:</strong>
    <%= property.situs_address %>
  </p>

  <p>
    <strong>Situs postal city:</strong>
    <%= property.situs_postal_city %>
  </p>

  <p>
    <strong>Situs postal zip:</strong>
    <%= property.situs_postal_zip %>
  </p>

  <p>
    <strong>Land use code:</strong>
    <%= property.land_use_code %>
  </p>

  <p>
    <strong>Land use desc:</strong>
    <%= property.land_use_desc %>
  </p>

  <p>
    <strong>Homestead indicator:</strong>
    <%= property.homestead_indicator %>
  </p>

  <p>
    <strong>Tax district:</strong>
    <%= property.tax_district %>
  </p>

  <p>
    <strong>Last sale date:</strong>
    <%= property.last_sale_date %>
  </p>

  <p>
    <strong>Last sale vori:</strong>
    <%= property.last_sale_vori %>
  </p>

  <p>
    <strong>Last sale qualified:</strong>
    <%= property.last_sale_qualified %>
  </p>

  <p>
    <strong>Last sale price:</strong>
    <%= property.last_sale_price %>
  </p>

  <p>
    <strong>Land acreage:</strong>
    <%= property.land_acreage %>
  </p>

  <p>
    <strong>Bldg1 year built:</strong>
    <%= property.bldg1_year_built %>
  </p>

  <p>
    <strong>Bldgs sqft living:</strong>
    <%= property.bldgs_sqft_living %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= property.integer %>
  </p>

  <p>
    <strong>Bldgs sqft unroof:</strong>
    <%= property.bldgs_sqft_unroof %>
  </p>

  <p>
    <strong>Swimming pool:</strong>
    <%= property.swimming_pool %>
  </p>

  <p>
    <strong>Community dev dist:</strong>
    <%= property.community_dev_dist %>
  </p>

  <p>
    <strong>Cra name:</strong>
    <%= property.cra_name %>
  </p>

  <p>
    <strong>Neighborhood code:</strong>
    <%= property.neighborhood_code %>
  </p>

  <p>
    <strong>Neighborhood name:</strong>
    <%= property.neighborhood_name %>
  </p>

  <p>
    <strong>Subdivision code:</strong>
    <%= property.subdivision_code %>
  </p>

  <p>
    <strong>Subdivision name:</strong>
    <%= property.subdivision_name %>
  </p>

  <p>
    <strong>Just value:</strong>
    <%= property.just_value %>
  </p>

  <p>
    <strong>County assessed value:</strong>
    <%= property.county_assessed_value %>
  </p>

  <p>
    <strong>County exempt value:</strong>
    <%= property.county_exempt_value %>
  </p>

  <p>
    <strong>County taxable value:</strong>
    <%= property.county_taxable_value %>
  </p>

  <p>
    <strong>Owner name line1:</strong>
    <%= property.owner_name_line1 %>
  </p>

  <p>
    <strong>Owner name line2:</strong>
    <%= property.owner_name_line2 %>
  </p>

  <p>
    <strong>Mailing address line1:</strong>
    <%= property.mailing_address_line1 %>
  </p>

  <p>
    <strong>Mailing address line2:</strong>
    <%= property.mailing_address_line2 %>
  </p>

  <p>
    <strong>Mailing city:</strong>
    <%= property.mailing_city %>
  </p>

  <p>
    <strong>Mailing state:</strong>
    <%= property.mailing_state %>
  </p>

  <p>
    <strong>Mailing postal code:</strong>
    <%= property.mailing_postal_code %>
  </p>

  <p>
    <strong>Mailing country:</strong>
    <%= property.mailing_country %>
  </p>

</div>
