<p style="color: green"><%= notice %></p>
<%= paginate @properties, class: "page-link"  %>
<% content_for :title, "Properties" %>

<h1>Properties</h1>

<div id="properties">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Last Sale Date</th>
        <th scope="col">Sale Price</th>
        <th scope="col">Taxable Value</th>
        <th scope="col">Homestead</th>
        <th scope="col">Owner</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @properties.each do |property| %>
        <tr>
          <td><%= property.situs_address %></th>
          <td><%= property.last_sale_date.strftime("%F") %></th>
          <td><%= number_to_currency(property.last_sale_price) %></th>
          <td><%= number_to_currency(property.county_taxable_value) %></th>
          <td><%= property.homestead_indicator %></th>
          <td><%= property.owner_name_line1 %></th>
          <td><%= link_to "Show this property", property %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New property", new_property_path %>
<%= paginate @properties, class: "page-link"  %>
