<%= render "toolbar" %>

<% content_for :title, "Properties" %>
<h4>Properties List</h4>

<%= link_to "Export CSV", properties_path(format: :csv), class: "btn btn-outline-primary" %>

<div id="properties">
  <table class="table table-striped table-sm small">
    <caption class="visually-hidden">Properties list</caption>
    <thead>
      <tr>
        <th scope="col"><%= sortable_header("Address", :address) %></th>
        <th scope="col"><%= sortable_header("Last Sale Date", :last_sale_date) %></th>
        <th scope="col"><%= sortable_header("Sale Price", :sale_price) %></th>
        <th scope="col"><%= sortable_header("Taxable Value", :taxable_value) %></th>
        <th scope="col"><%= sortable_header("Homestead", :homestead) %></th>
        <th scope="col"><%= sortable_header("Owner", :owner) %></th>
        <th scope="col"><%= sortable_header("ID", :id) %></th>
      </tr>
    </thead>
    <tbody>
      <% @properties.each do |property| %>
        <tr>
          <td><%= link_to property.situs_address, property_path(property) %></td>
          <td><%= property.last_sale_date&.strftime("%F") %></td>
          <td><%= currency_or_dash(property.last_sale_price) %></td>
          <td><%= currency_or_dash(property.county_taxable_value) %></td>
          <td><%= property.homestead_indicator.presence || "—" %></td>
          <td><%= property.owner_name_line1&.truncate(25) %></td>
          <td><%= property.id %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7" class="text-end">
          <strong>(Page) Total Taxable Value: <%= number_to_currency(@page_total_taxable_value) %> </strong>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<%= render "toolbar" %>
