<p style="color: green"><%= notice %></p>
<%= paginate @properties, class: "page-link"  %>
<%= link_to "New property", new_property_path %>
<% content_for :title, "Properties" %>

<h1>Properties</h1>

<%= link_to "Export", properties_path(format: "csv"), class: "btn btn-outline-primary" %>

<div id="properties">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Last Sale Date</th>
        <th scope="col">Sale Price</th>
        <th scope="col">Taxable Value</th>
        <th scope="col">Homestead</th>
        <th scope="col">Owner</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% page_taxable_value = 0 %>
      <% @properties.each do |property| %>
        <tr>
          <td><%= property.situs_address %></td>
          <td><%= if !property.last_sale_date.nil?
                        property.last_sale_date.strftime("%F")
              end %></td>
          <td><%= number_to_currency(property.last_sale_price) %></td>
          <td><%= number_to_currency(property.county_taxable_value) %></td>
          <td><%= property.homestead_indicator %></td>
          <td><%= property.owner_name_line1.truncate(25) %></td>
          <td><%= link_to "Show property", property %></td>
          <%if property.county_taxable_value?
            page_taxable_value = page_taxable_value + property.county_taxable_value
          end  %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h5 class="float-end" >(Page) Total Taxable Value: <%= number_to_currency(page_taxable_value) %></h5>

<%= paginate @properties, class: "page-link"  %>
