<p style="color: green"><%= notice %></p>
<h1>Show property</h1>
<%= render @property %>

<div>
  <%= link_to "Edit this property", edit_property_path(@property) %> |
  <%= link_to "Back to properties", properties_path %>
  <p>
    <%= button_to "Destroy this property", @property, method: :delete, class:"btn btn-danger"  %>
  </p>
  </div>
