<h3>Show property</h3>
<p>
    <h4><strong>Address:</strong>
    <%= @property.situs_address %></h4>
    <strong>ID:</strong>
    <%= @property.id %>
  </p>
  <p>
    <strong>Owner:</strong>
    <%= @property.owner_name_line1 %>
    <%= @property.owner_name_line2 %>
  </p>
  <%= link_to "Add new note", new_property_note_path(@property), class: "btn btn-outline-success pull-right" %>
  <div class="media">
    <div class="media-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Last Update</th>
            <th scope="col">Code</th>
            <th scope="col">Note</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @note.each do |note| %>
            <tr>
              <td><%= note.updated_at.strftime("%m/%d/%Y %H:%M") %></td>
              <td><%= note.code %></td>
              <td><%= note.notes %></td>
              <td><%= link_to "Edit", edit_property_note_path(property_id: @property.id, id: note.id), class: "btn btn-outline-info" %></td>
              <td><%= button_to "Delete", [@property, note], method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class:"btn btn-outline-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<div>
  <%= link_to "Edit this property", edit_property_path(@property) %> |
  <%= link_to "Back to properties", properties_path %>
  <p>
    <%= button_to "Delete this property", @property, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this property and associated notes? This action is NOT recoverable. " } }, class:"btn btn-outline-danger"  %>
  </p>
  </div>
