<div data-controller="map">

<h4><%= @property.situs_address %></h4>
<p>
  <strong>ID:</strong>
  <%= @property.id %>,
    <strong>Owner(s):</strong>
    <%= @property.owner_name_line1 %>
    <%= @property.owner_name_line2 %>
    <br><br>
    <strong>Lat/Long:</strong>
    <%= @property.latitude.inspect %>
     /
    <%= @property.longitude.inspect %>
  </p>
<%= link_to "Add note", new_property_note_path(@property), class: "btn btn-outline-success pull-right" %>

<%= link_to "Add Pin", new_pin_path(property_id: @property.id), class: "btn btn-outline-primary" %>

<%= link_to "View Map", "#",
    class: "btn btn-outline-info",
    data: {
      action: "click->map#open",
      map_lat:  @property.latitude,
      map_lng:  @property.longitude,
      map_address: @property.situs_address
    } %>

<%= link_to "Open Street Map",
    "https://www.openstreetmap.org/search?query=#{ERB::Util.url_encode(@property.situs_address.to_s)}",
    class: "btn btn-outline-warning",
    target: "_blank",
    rel: "noopener" %>

<%= link_to "Google Maps",
    "https://www.google.com/maps/search/?api=1&query=#{ERB::Util.url_encode(@property.situs_address.to_s)}",
    class: "btn btn-outline-danger",
    target: "_blank",
    rel: "noopener" %>

<% if @pins.any? %>
  <div class="masonry">
    <% @pins.each do |pin| %>
      <div class="masonry-item masonry-content center"><br>
        <% if pin.image.attached? %>
          <%= image_tag pin.image.variant(resize_to_limit: [200, 200]) %>
        <% else %>
          <%= image_tag "default_image.png" %>
        <% end %>
        <br>
        <%= link_to "Show this pin", pin_path(pin) %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No pins yet for this property.</p>
<% end %>

  <div class="media">
    <div class="media-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Last Update</th>
            <th scope="col">Code</th>
            <th scope="col">Note</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @note.each do |note| %>
            <tr>
              <td><%= note.updated_at.strftime("%m/%d/%Y %H:%M") %></td>
              <td><%= note.code %></td>
              <td><%= note.notes %></td>
              <td><%= link_to "Edit", edit_property_note_path(property_id: @property.id, id: note.id), class: "btn btn-outline-info" %></td>
              <td><%= button_to "Delete", [@property, note], method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class:"btn btn-outline-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<div>
  <%= link_to "Edit this property", edit_property_path(@property) %> |
  <%= link_to "Back to properties", properties_path %>
  <p>
    <%= button_to "Delete this property", @property, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this property and associated notes? This action is NOT recoverable. " } }, class:"btn btn-outline-danger"  %>
  </p>
</div>

<div data-map-target="modal"
       id="map-modal"
       class="modal hidden">

    <div class="modal-content" data-action="click->map#stopPropagation">
      <button class="btn btn-sm btn-secondary float-end"
              data-action="click->map#close">✕</button>

      <h5 id="map-title"></h5>

      <div data-map-target="map"
           id="map"
           style="height: 400px;">
        </div>
    </div>
  </div>
</div>
