<% content_for :title, "Stories" %>
<%= link_to "New story", new_story_path %>
<h1>Stories <%= "- Showing #{ pluralize(@stories.size, 'story') }" %></h1>
</br>
<div id="stories">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Story Link / Description</th>
        <th scope="col">Likes</th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody>
      <% @stories.each do |story|%>
        <tr>
          <td><%= link_to story.name, story %></td>
          <td><%= story.votes_count %></td>
          <td><%= story.id %></td>
        </tr>
        <tr>
          <td><%= story.description %></td>
          <td><% unless story.tag_list.empty? %>
                <span class="tags">
                <%= render partial: "tags/tag", collection: story.tags %>
                </span>
                <% end %>
              <% end %>
            </td>
        </tr>
    </tbody>
  </table>
</div>
