<% content_for :title, "Stories" %>
<%= link_to "New story", new_story_path %>
<h3>Stories <%= "- Showing #{ pluralize(@stories.size, 'story') }" %></h3>
<div id="stories">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Story Link / Description</th>
        <th scope="col">Likes</th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody>
      <% @stories.each do |story|%>
        <tr>
          <td><%= link_to story.name, story %></td>
          <td><%= story.likes_count %></td>
          <td><%= story.id %></td>
        </tr>
        <tr>
          <td colspan="3">
            <%= story.description %>
            <% unless story.tag_list.empty? %>
                Tags:
                <span class="tags">
                <%= render partial: "tags/tag", collection: story.tags %>
                </span>
                <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
