<% content_for :title, "Stories" %>
<%= link_to "New story", new_story_path %>
<h1>Stories <%= "- Showing #{ pluralize(@stories.size, 'story') }" %></h1>
</br>
<div id="stories">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Story Link</th>
        <th scope="col">Description</th>
        <th scope="col">Votes</th>
      </tr>
    </thead>
    <tbody>
      <% @stories.each do |story|%>
        <tr>
          <td><%= link_to story.name, story %></td>
          <td><%= story.description %></td>
          <td><%= story.votes_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
