<h2><%= @story.name %></h2>
<p>
  <%= link_to @story.link, @story.link, target: "_blank", rel: "noopener" %>
</p>
<% if @story.tags.any? %>
  <p class="tags">
    <strong>Tags:</strong>
    <%= render partial: "tags/tag", collection: @story.tags %>
  </p>
<% end %>

<p class="submitted_by">
  Submitted by:
  <span><%= @story.user.name %></span>
</p>

<div id="<%= dom_id(@story, :reactions) %>">
  <%= render "reactions/bar", story: @story %>
</div>
<br>

<%= button_to like_story_path(@story),
      method: :put,
      form_class: "d-inline",
      class: "btn btn-outline-success position-relative" do %>
  Like
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    <%= @story.likes_count %>
    <span class="visually-hidden">number of likes</span>
  </span>
<% end %>
<br>
<br>
<% if user_signed_in? %>
  <% if @story.votes.exists?(user: current_user)%>
    <button class="btn btn-outline-secondary" disabled>You already voted</button>
  <% else %>
    <%= form_with model: [@story, Vote.new], data: { turbo: true } do |f| %>
      <%= f.submit "Vote for this story", class: "btn btn-outline-success" %>
    <% end %>
  <% end %>
<% else %>
  <p><em>
    You would be able to vote for this story if you were
    <%= link_to "logged in", new_user_session_path %>!
  </em></p>
<% end %>

<br><br>
<ul id="vote_history">
  <% if @story.votes.empty? %>
    <em>No votes yet!</em>
  <% else %>
    <strong>Votes History:</strong>
    <%= render partial:'votes/vote',
        collection: @story.votes.latest %>
  <% end %>
</ul>
<br>
<div>
  <%= link_to "Edit this story", edit_story_path(@story) %> |
  <%= link_to "Back to stories", stories_path %>
  <p>
    <%= button_to "Delete", @story, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class:"btn btn-outline-danger" %>
  </p>
</div>
